@font-face {
	font-family: 'icomoon';
	src:url('/app/fonts/icomoon.eot?5km0ci');
	src:url('/app/fonts/icomoon.eot?#iefix5km0ci') format('embedded-opentype'),
		url('/app/fonts/icomoon.woff?5km0ci') format('woff'),
		url('/app/fonts/icomoon.ttf?5km0ci') format('truetype'),
		url('/app/fonts/icomoon.svg?5km0ci#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gym:before {
	content: "\e629";
}
.icon-outdoor:before {
	content: "\e62a";
}
.icon-empty2:before {
	content: "\e627";
}
.icon-empty:before {
	content: "\e628";
}
.icon-00s:before {
	content: "\e61e";
}
.icon-20s:before {
	content: "\e61f";
}
.icon-30s40s:before {
	content: "\e620";
}
.icon-50s:before {
	content: "\e621";
}
.icon-60s:before {
	content: "\e622";
}
.icon-70s:before {
	content: "\e623";
}
.icon-80s:before {
	content: "\e624";
}
.icon-90s:before {
	content: "\e625";
}
.icon-modern:before {
	content: "\e626";
}
.icon-cat:before {
	content: "\e61b";
}
.icon-pig:before {
	content: "\e61c";
}
.icon-path:before {
	content: "\e61d";
}
.icon-buddha:before {
	content: "\e61a";
}
.icon-404:before {
	content: "\e618";
}
.icon-error:before {
	content: "\e619";
}
.icon-user:before {
	content: "\e614";
}
.icon-chair:before {
	content: "\e615";
}
.icon-chair2:before {
	content: "\e616";
}
.icon-home:before {
	content: "\e617";
}
.icon-bath:before {
	content: "\e602";
}
.icon-bed:before {
	content: "\e603";
}
.icon-block:before {
	content: "\e604";
}
.icon-category:before {
	content: "\e605";
}
.icon-china:before {
	content: "\e606";
}
.icon-filter:before {
	content: "\e607";
}
.icon-france:before {
	content: "\e608";
}
.icon-italy:before {
	content: "\e609";
}
.icon-japan:before {
	content: "\e60a";
}
.icon-kitchen:before {
	content: "\e60b";
}
.icon-more:before {
	content: "\e60c";
}
.icon-netherlands:before {
	content: "\e60d";
}
.icon-share:before {
	content: "\e60e";
}
.icon-sofa:before {
	content: "\e60f";
}
.icon-spain:before {
	content: "\e610";
}
.icon-table:before {
	content: "\e611";
}
.icon-uk:before {
	content: "\e612";
}
.icon-us:before {
	content: "\e613";
}
.icon-heart-o:before {
	content: "\e600";
}
.icon-heart3:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e660";
}
.icon-translate:before {
	content: "\e68a";
}
.icon-check:before {
	content: "\e8a6";
}
.icon-chevron-left:before {
	content: "\e8a7";
}
.icon-expand-less:before {
	content: "\e8aa";
}
.icon-expand-more:before {
	content: "\e8ab";
}
.icon-more-horiz:before {
	content: "\e8af";
}
.icon-more-vert:before {
	content: "\e8b0";
}
.icon-heart:before {
	content: "\e024";
}
.icon-square-check:before {
	content: "\e046";
}
.icon-moon:before {
	content: "\e061";
}
.icon-sun:before {
	content: "\e064";
}
.icon-tag:before {
	content: "\e085";
}
.icon-trash:before {
	content: "\e109";
}
.icon-cross:before {
	content: "\e117";
}
.icon-open:before {
	content: "\e128";
}
.icon-ellipsis:before {
	content: "\e129";
}
.icon-picture:before {
	content: "\e02d";
}
.icon-pictures:before {
	content: "\e02e";
}
.icon-ribbon2:before {
	content: "\e05a";
}
.icon-envelope:before {
	content: "\e06e";
}
.icon-telescope:before {
	content: "\e07a";
}
.icon-pricetags:before {
	content: "\e07f";
}
.icon-lightbulb:before {
	content: "\e08a";
}
.icon-paintbrush:before {
	content: "\e09a";
}
.icon-beaker:before {
	content: "\e0a0";
}
.icon-profile-male:before {
	content: "\e0a4";
}
.icon-dial:before {
	content: "\e09f";
}
.icon-chat2:before {
	content: "\e0ad";
}
.icon-heart2:before {
	content: "\e0ae";
}
.icon-upload2:before {
	content: "\e0b0";
}
.icon-aperture:before {
	content: "\e0ba";
}
.icon-refresh2:before {
	content: "\e0be";
}
.icon-happy:before {
	content: "\e0bf";
}
