@font-face {
	font-family: 'icomoon';
	src:url('app/fonts/icomoon.eot?5km0ci');
	src:url('app/fonts/icomoon.eot?#iefix5km0ci') format('embedded-opentype'),
		url('app/fonts/icomoon.woff?5km0ci') format('woff'),
		url('app/fonts/icomoon.ttf?5km0ci') format('truetype'),
		url('app/fonts/icomoon.svg?5km0ci#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
	content: "\e60e";
}
.icon-block:before {
	content: "\e60d";
}
.icon-bed:before {
	content: "\e607";
}
.icon-kitchen:before {
	content: "\e608";
}
.icon-sofa:before {
	content: "\e609";
}
.icon-table:before {
	content: "\e60a";
}
.icon-bath:before {
	content: "\e60b";
}
.icon-more:before {
	content: "\e60c";
}
.icon-home:before {
	content: "\e605";
}
.icon-user:before {
	content: "\e606";
}
.icon-chair2:before {
	content: "\e602";
}
.icon-brand:before {
	content: "\e603";
}
.icon-chair:before {
	content: "\e604";
}
.icon-heart-o:before {
	content: "\e600";
}
.icon-heart3:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e660";
}
.icon-translate:before {
	content: "\e68a";
}
.icon-check:before {
	content: "\e8a6";
}
.icon-chevron-left:before {
	content: "\e8a7";
}
.icon-expand-less:before {
	content: "\e8aa";
}
.icon-expand-more:before {
	content: "\e8ab";
}
.icon-more-horiz:before {
	content: "\e8af";
}
.icon-more-vert:before {
	content: "\e8b0";
}
.icon-heart:before {
	content: "\e024";
}
.icon-square-check:before {
	content: "\e046";
}
.icon-moon:before {
	content: "\e061";
}
.icon-sun:before {
	content: "\e064";
}
.icon-tag:before {
	content: "\e085";
}
.icon-trash:before {
	content: "\e109";
}
.icon-cross:before {
	content: "\e117";
}
.icon-open:before {
	content: "\e128";
}
.icon-ellipsis:before {
	content: "\e129";
}
.icon-grid2:before {
	content: "\e04b";
}
.icon-adjustments:before {
	content: "\e04f";
}
.icon-ribbon2:before {
	content: "\e05a";
}
.icon-flag3:before {
	content: "\e06a";
}
.icon-map3:before {
	content: "\e06b";
}
.icon-envelope:before {
	content: "\e06e";
}
.icon-telescope:before {
	content: "\e07a";
}
.icon-pricetags:before {
	content: "\e07f";
}
.icon-lightbulb:before {
	content: "\e08a";
}
.icon-paintbrush:before {
	content: "\e09a";
}
.icon-beaker:before {
	content: "\e0a0";
}
.icon-profile-male:before {
	content: "\e0a4";
}
.icon-dial:before {
	content: "\e09f";
}
.icon-chat2:before {
	content: "\e0ad";
}
.icon-heart2:before {
	content: "\e0ae";
}
.icon-upload2:before {
	content: "\e0b0";
}
.icon-aperture:before {
	content: "\e0ba";
}
.icon-refresh2:before {
	content: "\e0be";
}
.icon-happy:before {
	content: "\e0bf";
}