@import "settings/settings";
@import "settings/mixins";
$background-color:$white;
$text-color:$black;
$pixels-per-mm:6px;
html,
body {
    background: $background-color;
    color: $text-color;
}
.spin {
    @include animation(spin 1s linear infinite);
}
html,
body,
#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rootWrapper {
    @include size(100%);
    @include position(relative);
    overflow: hidden;
}

$homeNavigationHeihgt:56px;
$homeNavigationBackground:$white;
$homeNavigationTextColor:$black;
#homeNavigation {
    background: $homeNavigationBackground;
    @include clearfix();
    @include position(absolute, null null 0 0);
    @include size(100% $homeNavigationHeihgt);
    border-top: 1px solid $border-color;
}

.homeNavigation-item {
    @include size(25% 100%);
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    >span {
        font-size: 8px;
        line-height: 10px;
        display: block;
        color: lighten($homeNavigationTextColor, 60%);
        @include position(relative, -6px null nulll null);
    }
    >.icon {
        line-height: $homeNavigationHeihgt - 10;
        height: $homeNavigationHeihgt - 10;
        color: lighten($homeNavigationTextColor, 60%);
        display: block;
    }
    &.current {
        border-bottom: 2px solid $main-color;
        >.icon {
            color: $main-color;
        }
        >span {
            font-size: 8px;
            line-height: 8px;
            color: $main-color;
        }
    }
}

#primary {
    background: #f5f5f5;
}

@include keyframes(flip) {
    0% {
        @include transform(rotate(0));
    }
    100% {
        @include transform(rotate(180deg));
    }
}
.image {
    overflow:hidden;
    position:relative;
    >img {
        max-width: none;
        max-height: none;
    }
}


.streamWrapper {

    
    @include position(relative);

    .pullDown,.pullUp {
        height: 50px;
        text-align:center;
        line-height: 50px;
        color:#999;
        font-size: 10px;

        .icon {
            display: inline-block;
            @include animation(spin 1s linear infinite);
        }
        .icon:before {
            content: "\e0be";
        }
    }
    .flip .icon {
        display: inline-block;
        @include animation(flip .5s linear both);
    }
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
#cells {

}
$topBarHeight:48px;
$topBarBackground:$white;
$topBarColor:$black;
.topBar,.filterBar {
    height: $topBarHeight;
    line-height: $topBarHeight;
    background: $topBarBackground;
    color: $topBarColor;
    text-align: center;
    border-bottom: 1px solid $border-color;
    position:relative;
    z-index: 2;
    @include pomeTransition();
    @include reset-transform();
}
.filterBar {
    z-index: 1;
}

.topBar.hide {
    @include transform(translate3d(0,-200%,0));
}
.filterBar.hide,.filterBar.noFilter {
    @include transform(translate3d(0,-200%,0));
}

#exploreTopBar-category-switch,
#exploreTopBar-search-switch {
    color: $topBarColor;
    line-height: $topBarHeight;
    >.icon {
        color: $main-color;
        @include pomeTransition();
    }
}

.dropDown-switch {
    >.icon {
        color: $main-color;
    }
}

#exploreTopBar-category-switch {
    width: 100%;
}

#exploreTopBar-search-switch {
    width: $topBarHeight;
    @include position(absolute, 0 0 null null);
}

.filter {
    float: left;
    display: inline-block;
    @include position(relative);
    border-left:1px solid $border-color;
    height: 100%;


    &.selected .fitlerSelection{
        color: $main-color;
    }
    
}
.leafFilter .fitlerSelection, .leafFilter .icon-expand-more{
    display: none;
}

.leafFilter.selected .filterTitle{
    color: $main-color;
}
.filter:first-child {
    border-left:none;
}
.filterTitle {
    height: $topBarHeight/3;
    line-height: $topBarHeight/3;
    margin-top: $topBarHeight/4;
    color:lighten($text-color,40%);
    @include position(relative);

    >.icon {
        line-height: $topBarHeight/3;
        @include position(absolute,0 $basic-gap/4 null null);
        color: $main-color;
        @include pomeTransition();
    }
}
.fitlerSelection {
    height: $topBarHeight/3;
    line-height: $topBarHeight/3;
    font-size: 0.6em;
    color:lighten($text-color,50%);
}
.filterMenu {
    @include position(absolute,$topBarHeight null null 0);
    width: 100%;
    display: none;
    z-index: 1;
    @include reset-transform();
}
.filterMenu-item {
    height: $topBarHeight;
    line-height: $topBarHeight;
    background: $white;
    border-bottom:1px solid $border-color;
}
.menu-open {
    display: block;
}
.pageWrapper,
.tempCurrentPage,
.tempNextPage,
.tempCurrentPageTop {
    @include size(100%);
    @include position(absolute, 0 null null 0);
}

.tempCurrentPage,
.tempNextPage,
.tempCurrentPageTop {
    @include size(100% 50%);
    overflow: hidden;
}

.tempCurrentPage {
    top: 50%;
    @include transform-origin(center top);
    @include backface-visibility(hidden);
    .cover {
        top: -100%;
        height: 200%;
    }
}

.tempCurrentPageTop {
    .info {
        bottom: -100%;
    }
}

.tempNextPage {
    .info {
        bottom: -100%;
    }
    @include backface-visibility(hidden);
    @include transform-origin(center bottom);
    @include transform(rotate3d(1, 0, 0, -180deg));
}

.cover {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    img {
        @include position(absolute);
        max-width: none;
    }
}

.info {
    @include size(100% auto);
    @include position(absolute, null null -1px 0);
    padding: $basic-gap*2 $basic-gap $basic-gap*1.5;
    @include background-image(linear-gradient(transparent 0, rgba(0, 0, 0, .9) 100%));
    .title {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: $basic-gap/2;
        font-weight: bold;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    }
    .excerpt {
        font-size: 14px;
        line-height: 18px;
        height: 54px;
        overflow: hidden;
    }
}

//========== Cell ===========
.creditItem {
    display: block;
    @include clearfix();
    line-height: 1em;
    font-size: 0.8em;
    padding-bottom:0.2em;
    color: $caption-color;
}

.creditImage {
    float: left;
    @include size(32px);
    margin: 0 10px 0 0;
    border-radius: 100%;
    overflow: hidden;
    >img {
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: none;
    }
}


.tags {
    font-size: 0.8em;
    color:$caption-color;
    padding-left:$basic-gap;
    line-height: $basic-gap;
    padding-top:$basic-gap/2;
        
}

$cellBackground:#fafafa;
$cellTextColor:#333;
$cellBorderColor:#dedede;
$actionBarWidth:64px;
.cell {
    font-size: $body-size;
    background: $cellBackground;
    color: $cellTextColor;
    position:relative;
    overflow-x: hidden;

    .inner {
        background: $cellBackground;
        position:relative;
        border-bottom:1px solid $cellBorderColor;
        height: 100%;
        
    }
    .inner:active {
        background:darken($cellBackground, 5%);
    }

    .creditItem {
        padding: 0 $basic-gap 0.2em;
    }
    .title {
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 0 $basic-gap;
    }
    .viewed .title {
        color:lighten($caption-color,10%);
    }
    .excerpt,.translatedTitle {
        font-size: 1em;
        line-height: 1.4em;
        color: lighten($cellTextColor, 30%);
        padding: 0 $basic-gap;
    }
    .subtitle {
        color: lighten($cellTextColor, 30%);
        font-size: 0.5em;
    }
    .translatedTitle {
        padding-top:0.2em;
    }
    .excerpt,.translatedTitle {
        display: none;
    }
    .recommendReason {
        @include reset-transform();
        @include position(absolute,null 0 0 null);
        font-size: 14px;
        color:lighten($cellTextColor, 60%);
        font-size: 8px;
        @include background-image(linear-gradient(to right,transparent 0, rgba(0, 0, 0, .9) 100%));
        padding:$basic-gap/4 $basic-gap $basic-gap/4 $basic-gap*2;

    }
    
    .creditDetial {
        line-height: 1.4em;
        padding-top:$basic-gap;
    }
    .meta {
        @include position(relative);
        height: $basic-gap*1.5;
    }
    
    .more {
        @include size(48px);
        @include position(absolute,null 0 0-$basic-gap*1 null);
    }
    .more-line-1,.more-line-2 {
        @include size(12px 2px);
        border-radius:2px;
        background: #e0e0e0;
        @include reset-transform;
        @include position(absolute, 50% null null 50%);
        margin-left:-6px;
        margin-top:-1px;
    }
    .more-line-2 {
        @include transform(rotate(90deg));
    }
    
}
$smallCellCoverSize:72px;
.smallCell {
    min-height: $smallCellCoverSize + $basic-gap*2;
    padding:$basic-gap 0;
    .image {
        @include position(absolute,$basic-gap $basic-gap null null);
    }
    .cellDetail {
        padding-right:$smallCellCoverSize + $basic-gap;
    }
}
.mediumCell,.largeCell,.fullCell {
    padding:$basic-gap 0;
    .title {
        padding-bottom:$basic-gap/2;
    }
}
.mediumCell {
    .image {
        float: left;
        display: inline-block;
        margin-right: 4px;
    }
    .cellCover {
        margin-left: $basic-gap;
        @include clearfix;
    }
}
.largeCell {
    .image {
        margin-left: $basic-gap;
    }
}
.fullCell {
    .cellCover {
        margin-left: $basic-gap;
    }
    .cellMoreImages {
        margin-left: $basic-gap;
        margin-top:$basic-gap/4;
        @include clearfix;
        >.image {
            float: left;
            display: inline-block;
            margin-right: 4px;
        }
    }
}


.productcell,.brandcell {
    .title {
        position:relative;
    }
    .title,.creditItem {
        padding-left:$basic-gap*3.5;
    }
    .title:before {
        display: block;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include size($basic-gap*2);
        font-size: $basic-gap*2;
        @include position(absolute,0-$basic-gap null null $basic-gap);
        color:$caption-color;
    }
}
.productcell .title:before {
    content: "\e602";
}
.brandcell .title:before {
    content: "\e603";
}

.en .translatedTitle {
    display: block;
}
.rankCell {
    @include position(relative);
    .title,.creditItem {
        padding-left:44px;
    }
    .title {
        font-size: 16px;
    }
    .viewed .rank{
        background:$main-color;
        color:$white;
    }
    .rank {
        @include position(absolute, 24px null null 14px);
        @include size(24px);
        color: $main-color;
        border: 1px solid $main-color;
        font-size: $body-size;
        line-height: 22px;
        text-align: center;
        border-radius: 100%;
        font-size: 12px;
        font-family: 'Verdana';
    }
}

$toolBarHeight:56px;
$toolBarBackground:$white;
$toolBarColor:$black;
.toolBar {
    @include size(100% $toolBarHeight);
    @include clearfix();
    background: $toolBarBackground;
    color: $toolBarColor;
    border-top: 1px solid $border-color;
}

.toolBar-item {
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center;
    height: $toolBarHeight;
    line-height: $toolBarHeight;
    >.icon {
        height: $toolBarHeight;
        line-height: $toolBarHeight;
        display: inline-block;
        font-size: 24px;
    }
}

.toolBar {
    @include position(absolute, null null 0 0);
}

@include keyframes(slideOut) {
    100% {
        @include transform(translate3d(1000%,0,0));
    }
}

.slideOut, .articleWrapper.slideOut {
    @include animation(slideOut 1s $default-timing-function);
}
.articleWrapper,.productWrapper {
    @include position(absolute, 0 null null 0);
    @include reset-transform;
    @include size(100%);

    @include animation(zoomInActions .3s  $default-timing-function);
    background: $cellBackground;
    z-index: 2;
    overflow:hidden;
    .creditItem {
        @include position(absolute, 0 null null 0);
        @include size(100% auto);
        background: $cellBackground;
        padding: $basic-gap/2 $basic-gap;
        background: #fff;
        @include reset-transform;
        z-index: 2;
        border-bottom:1px solid $border-color;
    }
    .creditName {
        color: $black;
        padding:0 0 2px;
    }
    .creditDetial {
        padding-top:$basic-gap/4;
    }
}

.article,.product {
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    >iframe {
        width: 100%;
        min-height: 100%;
    }
}
.articleCore {
    padding:$basic-gap*3 $basic-gap 0;
    
}
.articleMeta {
    .tags {
        padding-left:0;
        padding-top:0;
        padding-bottom:$basic-gap/2;
    }
    position:relative;
}
.thumbSwitch {
    font-size: .8em;
    height: 100%;
    color:$caption-color;
    @include position(absolute, 0 0 null null);
    line-height: .8em;
}
.articleTitle {
    padding:$basic-gap 0 $basic-gap/2;
    font-size: 18px;
    font-weight: bold;
}
.articleBody {
    padding:$basic-gap/2 0 $basic-gap*2;
    font-size:15px;
    line-height: 1.6em;
    color:#444;

    .image {
        margin-bottom: 1.5em;
        >img {
            max-width: 100%;
            border-radius:2px;
        }
    }
    .thumb {
        margin:0 auto 1.5em;
    }

}
.articleOrignalLink {
    display: block;
    padding:$basic-gap/2;
    background:$border-color;
    font-size: 10px;
    color: darken($border-color,30%);
    text-decoration: none;
    margin:2em 0 0;
    text-align: center;
    border-radius:5px;
}
$profileHeaderHeight:56px;
.profileHeader {
    @include size(100% $profileHeaderHeight);
    background: $white;
    color: $black;
    border-bottom: 1px solid $border-color;
    position: relative;
    z-index: 1;
}

.profileImage {
    @include size($profileHeaderHeight - $basic-gap);
    border-radius: 100%;
    overflow: hidden;
    float: left;
    display: inline-block;
    margin-right: $basic-gap;
    @include position(relative, $basic-gap/2 null null $basic-gap/2);
    background: #f0f0f0;
    text-align: center;
    .icon {
        font-size: $profileHeaderHeight - $basic-gap*2;
        line-height: $profileHeaderHeight - $basic-gap;
        :before{
            line-height: $profileHeaderHeight - $basic-gap;
        }
        color: $caption-color;
    }
}

.profileInfo-name {
    font-size: 16px;
    line-height: 18px;
    padding-top: $basic-gap;
}

.profileInfo-meta {
    font-size: 10px;
    color: $caption-color;
    line-height: 12px;
}

.profileFilter {
    @include position(absolute, $basic-gap*1.5 $basic-gap/2 null null);
    font-size: 14px;
    line-height: 1.2em;
    &.dropDown-open {
        position: absolute;
    }
    .dropDown-menu {
        min-width: 140px;
        right: 0;
        left:auto;
        margin-left: 0;
        text-align: center;
    }
}

#cards {
    @include clearfix();
}
@include keyframes(cardFlyIn){
    0% {
        @include transform( translate3d(-500px, 1000px,0) rotate3d(0,0,1,30deg) );
    }
}
.cardWrapper {
    width: 48%;
    margin: 4px 1%;
    float: left;
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
    padding: 0;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: $white;
    position: relative;
    .coverImage {
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        position: relative;
        >img {
            position: absolute;
            max-width: none;
        }
    }
    .title {
        padding: 0.5em;
        line-height: 1.2em;
        height: 4.6em;
        overflow: hidden;
    }
    .creditItem {
        padding-left:$basic-gap/4;
        padding-bottom:$basic-gap/4;
    }
    .creditName {
        font-size: 10px;
        line-height: 1.2em;
    }
    .creditMeta {
        font-size: 8px;
        line-height: 1.2em;
        height: 1.2em;
        overflow: hidden;
    }
    .creditImage {
        @include size(20px);
        margin-right: $basic-gap/4;
    }
    &:nth-child(1) {
        @include animation( cardFlyIn .5s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(2) {
        @include animation( cardFlyIn .5s .1s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(3) {
        @include animation( cardFlyIn .5s .2s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(4) {
        @include animation( cardFlyIn .5s .3s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(5) {
        @include animation( cardFlyIn .5s .4s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(6) {
        @include animation( cardFlyIn .5s .5s both cubic-bezier(.36,0,.15,1));
    }

    .action-more {
        @include position(absolute,null 0 0 null);
        @include size(48px);
        text-align: center;
        display: none;

        >.icon {
            font-size: 24px;
            color: #e0e0e0;
            padding-top:20px;
            display: block;
            padding-left:24px;
        }
    }
}

$menuItemHeight:48px;
.dropDown-menu {
    @include position(absolute);
    display: none;
    width: auto;
    min-width: 50%;
    z-index: 3;
    background: $white;
    box-shadow:1px 1px 1px rgba(0,0,0,.3);
    left:25%;
    top:100%;
    @include reset-transform();
}

.dropDown-menu-item {
    line-height: $menuItemHeight/2;
    font-size:16px;
    padding: $menuItemHeight/4;
    
    position: relative;
    border-bottom:1px solid $border-color;

    &.checked,&:active {
        color: $main-color;
    }
    &.checked:after,&:active:after {
        font-size: $menuItemHeight/2;
        @include size($menuItemHeight/2);
        @include position(absolute, $menuItemHeight/4 $menuItemHeight/8 null null);
        content: "\e8a6";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &:last-child {
        border-bottom:none;
    }
}

.dropDown-open {
    position:relative;
    .dropDown-menu {
        display: block;
    }
    .icon-expand-more {
        @include transform(rotate(180deg));
    }
    .icon-expand-more:before {
        color:$text-color;
    }
}

.slide {
    width: 100%;
    overflow:hidden;
    @include position(relative);
    @include reset-transform;
}

.product-slide-large {
    float:left;
    width: 61.8%;
    height: 100%;
    overflow:hidden;
}
.product-slide-small {
    float: left;
    width: 38.2%;
    height: 100%;
    overflow:hidden;
    @include position(relative);
    >img {
        max-width: none;
        max-height: none;
    }
}
.product-slide-info {
    @include position(absolute,0 null null 0);
    @include size(100%);
    background:rgba(0,0,0,.6);
    color:$white;
    padding:$basic-gap*3 $basic-gap/2 0;

    >.product-slide-info-inner {
        @include position(absolute,null null $basic-gap*3 0);
        width: 100%;

        >.category,>.price {
            font-size: 10px;
            line-height: 12px;
            color:rgba(255,255,255,.5);
        }
        >.price {
            color:rgba(255,255,255,.8);
        }
        >.title {
            font-size: 14px;
            line-height: 16px;
            padding-bottom:4px;
        }
    }
}
.brand-slide-info {
    @include position(absolute,null null 0 0);
    @include size(100% auto);
    padding:$basic-gap;
    background:rgba(0,0,0,.6);
    color:$white;
    >.category,>.meta {
        font-size: 10px;
        color:rgba(255,255,255,.6);
        line-height: 1.2em;
    }
    >.title {
        line-height: 1.2em;
        padding:0.2em 0 0.4em;
    }
}
.roomsNav {
    @include clearfix();
    .roomsNav-item {
        float:left;
        width:33.333%;
        height:96px;
        text-align: center;
        >.icon {
            font-size: 48px;
            line-height: 72px;
        }
        border-style:solid;
        border-width:0 1px 1px 0;
        border-color:$border-color;
    }
    .roomsNav-text {
        font-size: 12px;
        line-height: 14px;
    }
    .roomsNav-item:nth-child(3),.roomsNav-item:nth-child(6) {
        border-right-width:0;
    }

}
@include keyframes(fade) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.fadeIn {
    @include animation(fadeIn .3s $default-timing-function);
}
.fadeOut {
    @include animation(fade .3s reverse);
}
@include keyframes(zoomInActions) {
    0% {
        @include transform(scale3d(0,0,1));
    }
    100% {
        @include transform(scale3d(1,1,1));
    }
}
.overlay {
    @include position(absolute,0 null null 0);
    @include size(100%);
    background: rgba(0,0,0,.3);
    z-index: 10;
}
.cellActions {
    @include position(absolute,null $basic-gap null null);
    @include clearfix;
    
    width: auto;
    background:$white;
    border-radius:2px;
    z-index: 11;
}
.zoomInActions {
    @include animation(zoomInActions .3s $default-timing-function);
}
.cellActions:after {
    content: "";
    display: block;
    @include size(0);
    line-height: 0;
    font-size: 1px;
    border-width:$basic-gap/4 $basic-gap/4;
    border-style:solid;
}
.bottomCaret {
    margin-bottom:-8px;
    @include transform-origin(right bottom);
}
.topCaret {
    margin-top: 36px;
    @include transform-origin(right top);
}
.bottomCaret:after {
    @include position(absolute, null $basic-gap 0-$basic-gap/2 null);
    border-color:$white $white transparent transparent;
}
.topCaret:after {
    @include position(absolute, 0-$basic-gap/2 $basic-gap null null);
    border-color:transparent $white $white transparent;
}
.cellAction {
    line-height: 24px;
    height: 48px;
    padding:$basic-gap/2 $basic-gap;
    text-align: left;
    border-bottom:1px solid $border-color;
    vertical-align: top;
    >.icon,>.icon:before {
        line-height: 24px;
    }
}
.cellAction:last-child {
    border-bottom:none;
}

#productLibrary {
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
#recommendedProduct {
    padding:$basic-gap 0;
    background:#f0f0f0;
    >.title {
        padding-bottom:$basic-gap/2;
        font-size: 14px;
        color: $caption-color;
        text-align: center;
    }
}
.horizontalProductList {
    width: 100%;
    overflow:hidden;
}
.horizontalProductListInner {
    @include clearfix;

    .productItem {
        @include size(140px);
        margin-left: 4px;

        >.image {
            border-radius:2px;
        }
    }
}
.productItem {
        @include size(50% auto);
        overflow:hidden;
        position:relative;
        float: left;
        display: inline-block;
        height: 140px;

        >.image {
           
            >img {
                max-width: 100%;
            }
        }
        >.productInfo {
            background:rgba(0,0,0,.6);
            color:$white;
            font-size: 10px;
            @include size(100% auto);
            padding:$basic-gap/2;
            @include position(absolute,null null 0 0);
            line-height: 1.2em;
        }
        .category,.price {
            font-size: .8em;
            color:rgba(255,255,255,.6);
        }
}
.tabs {
    @include clearfix;
    width: 100%;
    .tabItem {
        float: left;
        display: inline-block;
        width: 25%;
        height: $topBarHeight;
        line-height: $topBarHeight;
        text-align: center;
        font-size: 0.8em;
        background: #fff;
        border-right:1px solid $border-color;
        color:#666;
        border-bottom:1px solid $border-color;
    }
    .tabItem.current {
        border-bottom:2px solid $main-color;
        color: $main-color;
    }
}
.panes {
    @include clearfix;
    width: 100%;
    overflow:hidden;
    background:#fff;
    .pane {
        width: 100%;
        float: left;
        display: inline-block;
        @include clearfix;
        display: none;
    }
    .current {
        display: block;
    }

}
.brandItem {
    width: 25%;
    float: left;
    display: inline-block;
    padding:$basic-gap 0 $basic-gap/2;
    text-align: center;
    >img {
        width: $basic-gap*2.5;
        border-radius:100%;
        overflow:hidden;
        margin:0 auto;
        display: block;
    }
    >p {
        padding:4px 0;
        margin:0;
        font-size: 9px;
        color:$caption-color;
        line-height: 10px;
        height: 20px;
        overflow:hidden;
    }
}


#productSearch {
    .streamWrapper {
        background:$white;
    }
    .toolBar-item {
        width: 25%;
    }
}
.fixedTop {
    @include position(fixed,0 null null 0);
    @include reset-transform;
    z-index: 1;
}

.notification {
    padding:$basic-gap/2;
    font-size: 10px;
    line-height: 10px;
    border:1px solid transparent;
    border-radius:2px;
    text-align: center;
}
.notification-alert {
    color: darken($red, 20%);
    background:lighten($red,40%);
}
.notification-info {
    color: darken($cyan, 30%);
    background:lighten($cyan,40%);
}
@include keyframes(zoomInThenFadeOut) {
    0% {
        @include transform(scale3d(0,0,1));
    }
    10% {
        @include transform(scale3d(1,1,1));
    }
    90% {
        @include transform(scale3d(1,1,1));
    }
    100% {
         @include transform(scale3d(1,0,1));
    }
}
.streamWrapper {
    .notification {
        @include reset-transform;
        @include transform-origin(center top);
        @include animation(zoomInThenFadeOut 2s both);
    }
}
.empty {
    text-align: center;
    
    .icon,.icon:before {
        font-size: 36px;
        line-height: 36px;
        height: 36px;
        display: inline-block;
        @include centerAndOffset(36px,36px);
    }
    
}
.errorWrapper {
    height: 100%;
    width: 100%;
    text-align: center;

    .largeIcon {
        padding-top: $basic-gap*4;
    }
    .largeIcon>.icon {
        display: block;
        margin:0 auto;
        font-size: $basic-gap*4;
        color:$caption-color;
    }
    h2 {
        font-size: 16px;
        color:#555;
    }

}
.actionCard {
    height: 194px;
    box-shadow:none;
    background:none;
    border:1px dashed #a0a0a0;
    border-radius:5px;
    text-align: center;
    color: #a0a0a0;
    padding:$basic-gap $basic-gap/2;
}
.addButton {
    @include size($basic-gap*6);
    font-size: $basic-gap*4;
    margin:0 auto;
    border-radius:100%;
    
    padding:$basic-gap;
}
.addTitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: $basic-gap/4;
}
.addText {
    font-size: 10px;
    line-height: 12px;
}
