@import "settings/settings";
@import "settings/mixins";
$background-color:$white;
$text-color:$black;
$pixels-per-mm:6px;
html,
body {
    background: $background-color;
    color: $text-color;
}

html,
body,
#main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rootWrapper {
    @include size(100%);
    @include position(relative);
    overflow: hidden;
}

$homeNavigationHeihgt:56px;
$homeNavigationBackground:$white;
$homeNavigationTextColor:$black;
#homeNavigation {
    background: $homeNavigationBackground;
    @include clearfix();
    @include position(absolute, null null 0 0);
    @include size(100% $homeNavigationHeihgt);
    border-top: 1px solid $border-color;
}

.homeNavigation-item {
    @include size(25% 100%);
    float: left;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    >span {
        font-size: 8px;
        line-height: 10px;
        display: block;
        color: lighten($homeNavigationTextColor, 60%);
        @include position(relative, -6px null nulll null);
    }
    >.icon {
        line-height: $homeNavigationHeihgt - 10;
        height: $homeNavigationHeihgt - 10;
        color: lighten($homeNavigationTextColor, 60%);
        display: block;
    }
    &.current {
        border-bottom: 2px solid $main-color;
        >.icon {
            color: $main-color;
        }
        >span {
            font-size: 8px;
            line-height: 8px;
            color: $main-color;
        }
    }
}

#primary {
    background: #f5f5f5;
}

@include keyframes(flip) {
    0% {
        @include transform(rotate(0));
    }
    100% {
        @include transform(rotate(180deg));
    }
}

.streamWrapper {

    
    @include position(relative);

    .pullDown,.pullUp {
        height: 40px;
        text-align:center;
        line-height: 40px;
        color:#999;
        font-size: 10px;
    }
    .pullDown.loading {
        height: 70px;
        padding-top:40px;
        line-height: 30px;
        .icon {
            display: inline-block;
            @include animation(spin 1s linear infinite);
        }
        .icon:before {
            content: "\e0be";
        }
    }
    .flip .icon {
        display: inline-block;
        @include animation(flip .5s linear both);
    }
    overflow-y: auto;
    -webkit-overflow-scrolling:touch;
}
#cells {

}
$topBarHeight:48px;
$topBarBackground:$white;
$topBarColor:$black;
.topBar,.filterBar {
    height: $topBarHeight;
    line-height: $topBarHeight;
    background: $topBarBackground;
    color: $topBarColor;
    text-align: center;
    border-bottom: 1px solid $border-color;
    position:relative;
    z-index: 2;
    @include pomeTransition();
    @include reset-transform();
}
.filterBar {
    z-index: 1;
}

.topBar.hide {
    @include transform(translate3d(0,-200%,0));
}
.filterBar.hide,.filterBar.noFilter {
    @include transform(translate3d(0,-200%,0));
}

#exploreTopBar-category-switch,
#exploreTopBar-search-switch {
    color: $topBarColor;
    line-height: $topBarHeight;
    >.icon {
        color: $main-color;
        @include pomeTransition();
    }
}

.dropDown-switch {
    >.icon {
        color: $main-color;
    }
}

#exploreTopBar-category-switch {
    width: 100%;
}

#exploreTopBar-search-switch {
    width: $topBarHeight;
    @include position(absolute, 0 0 null null);
}

.filter {
    float: left;
    display: inline-block;
    @include position(relative);
    border-left:1px solid $border-color;
    height: 100%;


    &.selected .fitlerSelection{
        color: $main-color;
    }
    
}
.leafFilter .fitlerSelection, .leafFilter .icon-expand-more{
    display: none;
}

.leafFilter.selected .filterTitle{
    color: $main-color;
}
.filter:first-child {
    border-left:none;
}
.filterTitle {
    height: $topBarHeight/3;
    line-height: $topBarHeight/3;
    margin-top: $topBarHeight/4;
    color:lighten($text-color,40%);
    @include position(relative);

    >.icon {
        line-height: $topBarHeight/3;
        @include position(absolute,0 $basic-gap/4 null null);
        color: $main-color;
        @include pomeTransition();
    }
}
.fitlerSelection {
    height: $topBarHeight/3;
    line-height: $topBarHeight/3;
    font-size: 0.6em;
    color:lighten($text-color,50%);
}
.filterMenu {
    @include position(absolute,$topBarHeight null null 0);
    width: 100%;
    display: none;
    z-index: 1;
    @include reset-transform();
}
.filterMenu-item {
    height: $topBarHeight;
    line-height: $topBarHeight;
    background: $white;
    border-bottom:1px solid $border-color;
}
.menu-open {
    display: block;
}
.pageWrapper,
.tempCurrentPage,
.tempNextPage,
.tempCurrentPageTop {
    @include size(100%);
    @include position(absolute, 0 null null 0);
}

.tempCurrentPage,
.tempNextPage,
.tempCurrentPageTop {
    @include size(100% 50%);
    overflow: hidden;
}

.tempCurrentPage {
    top: 50%;
    @include transform-origin(center top);
    @include backface-visibility(hidden);
    .cover {
        top: -100%;
        height: 200%;
    }
}

.tempCurrentPageTop {
    .info {
        bottom: -100%;
    }
}

.tempNextPage {
    .info {
        bottom: -100%;
    }
    @include backface-visibility(hidden);
    @include transform-origin(center bottom);
    @include transform(rotate3d(1, 0, 0, -180deg));
}

.cover {
    @include size(100%);
    @include position(absolute, 0 null null 0);
    img {
        @include position(absolute);
        max-width: none;
    }
}

.info {
    @include size(100% auto);
    @include position(absolute, null null -1px 0);
    padding: $basic-gap*2 $basic-gap $basic-gap*1.5;
    @include background-image(linear-gradient(transparent 0, rgba(0, 0, 0, .9) 100%));
    .title {
        font-size: 24px;
        line-height: 28px;
        padding-bottom: $basic-gap/2;
        font-weight: bold;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    }
    .excerpt {
        font-size: 14px;
        line-height: 18px;
        height: 54px;
        overflow: hidden;
    }
}

//========== Cell ===========
.creditItem {
    display: block;
    @include clearfix();
}

.creditImage {
    float: left;
    @include size(30px);
    margin: 0 10px 10px 0;
    border-radius: 100%;
    overflow: hidden;
    >img {
        min-width: 100%;
        min-height: 100%;
        max-height: 100%;
        max-width: none;
    }
}

.creditName {
    color: $caption-color;
    line-height: 1.2em;
}

.creditMeta {
    color: $caption-color;
    font-size: 0.8em;
    line-height: 1.2em;
}

.coverImage {
    background: #f0f0f0;
    overflow: hidden;
    >img {
        max-width: 100%;
    }
}
.cellCover {
    padding:$basic-gap 0 0;
}
.multiCover {
    @include clearfix();
    .coverImage {
        float: left;
        display: inline-block;
    }
}

.noCover {
    .recommendReason {
        display: none;
    }
}

$cellBackground:#fafafa;
$cellTextColor:#333;
$cellBorderColor:#dedede;
$actionBarWidth:64px;
.cell {
    font-size: $body-size;
    background: $cellBackground;
    color: $cellTextColor;
    position:relative;
    overflow-x: hidden;

    .inner {
        background: $cellBackground;
        position:relative;
        padding: 0;
        border-bottom: 1px solid $cellBorderColor;
        height: 100%;
        
    }
    .showActions {
        @include transform(translate3d(0-$actionBarWidth,0,0));
        @include pomeTransition();
        .actionsSwitch-dot:first-child {
            @include size(1px);
            right: $basic-gap/2;
            top: $basic-gap*1.5;
            background: rgba(0,0,0,0);
        }
        .actionsSwitch-dot:nth-child(2) {
            border-radius:0;
            width: $basic-gap;
            height: 2px;
            @include position(absolute, $basic-gap*1.5 $basic-gap null null);
            @include transform-origin(right center);
            @include transform(rotate(45deg));
        }
        .actionsSwitch-dot:nth-child(3) {
            border-radius:0;
            width: $basic-gap;
            height: 2px;
            @include position(absolute, $basic-gap*1.5 $basic-gap null null);
            @include transform-origin(right center);
            @include transform(rotate(-45deg));
        }
    }

    .creditItem {
        padding: 0 $basic-gap;
    }
    .title {
        font-size: 1.3em;
        line-height: 1.2em;
        padding: 0 $basic-gap;
    }
    .more {
        height: $basic-gap*2.5;
    }
    .actionsSwitchIcon {
        float: right;
        @include size($basic-gap*3 $basic-gap*2.5);
        padding-top:0;
        
        position:relative;
    }
    .actionsSwitch-dot {
        @include size(6px);
        border-radius:100%;
        background:rgba(0,0,0,.2);
        display: inline-block;
        @include position(absolute, $basic-gap*1.5 null null null);
        @include pomeTransition();

    }
    .actionsSwitch-dot:first-child {
        background:rgba(0,0,0,.5);
        right:$basic-gap + 20;
    }
    .actionsSwitch-dot:nth-child(2) {
        right:$basic-gap + 10;
    }
    .actionsSwitch-dot:nth-child(3) {
        right:$basic-gap;
    } 
    .excerpt,.translatedTitle {
        font-size: 1em;
        line-height: 1.4em;
        color: lighten($cellTextColor, 30%);
        padding: 0 $basic-gap;
    }
    .excerpt,.translatedTitle {
        display: none;
    }
    .recommendReason {
        @include position(absolute,null 0 0 null);
        font-size: 14px;
        color:lighten($cellTextColor, 60%);
        font-size: 8px;
        @include background-image(linear-gradient(to right,transparent 0, rgba(0, 0, 0, .9) 100%));
        padding:$basic-gap/4 $basic-gap $basic-gap/4 $basic-gap*2;

    }
    .actions {
        @include position(absolute,0 0 null null);
        @include size($actionBarWidth 100%);
        border-bottom: 1px solid $cellBorderColor;
        background: darken($main-color,10%);
        color:$white;

    }
    .action-icon {
        @include size($actionBarWidth);
        font-size: 24px;
        text-align: center;
        padding:($actionBarWidth - 24)/2 0;
    }
    .actions-inner {
        @include position(absolute,null 0 $basic-gap null);
        @include size($actionBarWidth auto);
    }
    .action-block {
        margin-bottom:$actionBarWidth;
    }
    .creditDetial {
        float: left;
        height: $basic-gap*2.5;
        line-height: $basic-gap*3;
        padding-left:$basic-gap;
    }
    .small {
        padding-left: 96px;
        overflow:hidden;
    }
    .coverImage {
    >img {
        min-height: 100%;
        max-height: 100%;
        max-width: none;
        @include transform(translate3d(-50%,0,0));
        @include position(relative,0 null null 50%);
    }
    }
}
.brandcell {
    .title {
        @include position(absolute, $basic-gap null null null);
        @include size(61.8% auto);
        text-align: center;
        color:$white;
        font-size: 2em;
        z-index: 1;

    }
    .multiCover {
        padding-top:0;
    }
    padding-top:0!important;
    .more {
        display: none;
    }
}

.brandcell,.productcell {
    .cellCover {
        position:relative;
    }
    .coverImage {
        @include position(absolute);
        overflow:hidden;
    }
    .coverImage:first-child {
        @include position(relative);
    }
    .multiCover>.coverImage>img {
        max-height: none;
        @include transform(translate3d(0,0,0));
    }
    .coverImage:nth-child(2) {
        right:0;
        top:0;
    }
    .coverImage:nth-child(3) {
        right: 0;
        bottom:0;
    }

    .singleCover>.coverImage>img {
        max-height:none;
        max-width: 100%;
        width: 100%;
    }
}
.small {
    .cellCover {
        padding-top:0;
        @include size(96px 100%);
        @include position(absolute,0 null null 0);
    }
    .coverImage {
        @include size(100%);
    }
    .recommendReason {
        display: none;
    }
}

.articlecell.en .translatedTitle {
    display: block;
}
.rankCell {
    @include position(relative);
    .title {
        padding-top: 0;
        padding-bottom: 0.5em;
        padding-left: $basic-gap*3;
    }
    .excerpt {
        padding: $basic-gap;
    }
    .rank {
        @include position(absolute, $basic-gap null null $basic-gap -2);
        @include size(24px);
        color: $main-color;
        border: 1px solid $main-color;
        font-size: $body-size;
        line-height: 22px;
        text-align: center;
        border-radius: 100%;
    }
}

$toolBarHeight:56px;
$toolBarBackground:$white;
$toolBarColor:$black;
.toolBar {
    @include size(100% $toolBarHeight);
    @include clearfix();
    background: $toolBarBackground;
    color: $toolBarColor;
    border-top: 1px solid $border-color;
}

.toolBar-item {
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center;
    height: $toolBarHeight;
    line-height: $toolBarHeight;
    >.icon {
        height: $toolBarHeight;
        line-height: $toolBarHeight;
    }
}

.toolBar {
    @include position(absolute, null null 0 0);
}

.articleWrapper,.productWrapper {
    @include position(absolute, 0 null null 0);
    @include size(100%);
    background: $cellBackground;
    z-index: 2;
    .creditItem {
        @include position(absolute, 0 null null 0);
        @include size(100% auto);
        background: $cellBackground;
        padding: $basic-gap $basic-gap 0;
    }
}

.article,.product {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    >iframe {
        width: 100%;
        min-height: 100%;
    }
}

$profileHeaderHeight:56px;
.profileHeader {
    @include size(100% $profileHeaderHeight);
    background: $white;
    color: $black;
    border-bottom: 1px solid $border-color;
    position: relative;
    z-index: 1;
}

.profileImage {
    @include size($profileHeaderHeight - $basic-gap);
    border-radius: 100%;
    overflow: hidden;
    float: left;
    display: inline-block;
    margin-right: $basic-gap;
    @include position(relative, $basic-gap/2 null null $basic-gap/2);
}

.profileInfo-name {
    font-size: 16px;
    line-height: 18px;
    padding-top: $basic-gap;
}

.profileInfo-meta {
    font-size: 10px;
    color: $caption-color;
    line-height: 12px;
}

.profileFilter {
    @include position(absolute, $basic-gap*1.5 $basic-gap/2 null null);
    font-size: 14px;
    line-height: 1.2em;
    &.dropDown-open {
        position: absolute;
    }
    .dropDown-menu {
        min-width: 140px;
        right: 0;
        left:auto;
        margin-left: 0;
        text-align: center;
    }
}

#cards {
    @include clearfix();
}
@include keyframes(cardFlyIn){
    0% {
        @include transform( translate3d(-500px, 1000px,0) rotate3d(0,0,1,30deg) );
    }
}
.cardWrapper {
    width: 48%;
    margin: 1%;
    float: left;
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
    padding: 0;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    background: $white;
    position: relative;
    .coverImage {
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        position: relative;
        >img {
            position: absolute;
            max-width: none;
        }
    }
    .title {
        padding: 0.5em;
        line-height: 1.2em;
        height: 4.6em;
        overflow: hidden;
    }
    .creditMeta {
        line-height: 1.2em;
        height: 1.2em;
        overflow: hidden;
    }
    .creditImage {
        @include size(20px);
    }
    &:nth-child(1) {
        @include animation( cardFlyIn .5s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(2) {
        @include animation( cardFlyIn .5s .1s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(3) {
        @include animation( cardFlyIn .5s .2s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(4) {
        @include animation( cardFlyIn .5s .3s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(5) {
        @include animation( cardFlyIn .5s .4s both cubic-bezier(.36,0,.15,1));
    }
    &:nth-child(6) {
        @include animation( cardFlyIn .5s .5s both cubic-bezier(.36,0,.15,1));
    }
}

$menuItemHeight:48px;
.dropDown-menu {
    @include position(absolute);
    display: none;
    width: auto;
    min-width: 50%;
    z-index: 3;
    background: $white;
    box-shadow:1px 1px 1px rgba(0,0,0,.3);
    left:25%;
    top:100%;
    @include reset-transform();
}

.dropDown-menu-item {
    line-height: $menuItemHeight/2;
    font-size:16px;
    padding: $menuItemHeight/4;
    
    position: relative;
    border-bottom:1px solid $border-color;

    &.checked,&:active {
        color: $main-color;
    }
    &.checked:after,&:active:after {
        font-size: $menuItemHeight/2;
        @include size($menuItemHeight/2);
        @include position(absolute, $menuItemHeight/4 $menuItemHeight/8 null null);
        content: "\e8a6";
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        /* Better Font Rendering =========== */
        
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &:last-child {
        border-bottom:none;
    }
}

.dropDown-open {
    position:relative;
    .dropDown-menu {
        display: block;
    }
    .icon-expand-more {
        @include transform(rotate(180deg));
    }
    .icon-expand-more:before {
        color:$text-color;
    }
}