<div class="cardCover">
	{{{getCoverHtml}}}
</div>
<div class="title">
	{{title}}
</div>
<div class="creditItem" >
    <div class="creditImage">
        <img src="{{source.image.url}}" />
    </div>
    <div class="creditDetial">
        <div class="creditName">{{source.name}}</div>
        <div class="creditMeta">{{#author.name}}{{author.name}} {{/author.name}}{{^author.name}}{{getCreateTimeString}}{{/author.name}}</div>
    </div>
</div>
<div class="action-more">
	<i class="icon icon-more-vert"></i>
</div>