{{#slides}}
{{#isProduct}}
<div class="item">
    <div class="product-slide slide" style="height:{{getSlideHeight}}px" data-id="{{id}}">
        <div class="product-slide-small" style="width:{{getSlideSmallWidth}}px">
            <img src="{{#display_image.url}}{{.}}{{/display_image.url}}{{^display_image.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/display_image.url}}@600w_600h_1e_1c" style="{{getSmallSlideImgStyle}}">
            <div class="product-slide-info">
                <div class="product-slide-info-inner">
                    <div class="category">{{product_type.name}}</div>
                    <div class="title">{{name}}</div>
                    <div class="price">{{room.name}}</div>
                </div>
            </div>
            <div class="product-slide-brand"><img src="{{#brand.logo.url}}{{.}}{{/brand.logo.url}}{{^brand.logo.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/brand.logo.url}}@100w_100h_1e_1c"></div>
        </div>
        <div class="product-slide-large" style="width:{{getSlideHeight}}px">
            <img src="{{#display_image.url}}{{.}}{{/display_image.url}}{{^display_image.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/display_image.url}}@600w_600h_1e_1c">
        </div>
    </div>
</div>
{{/isProduct}}
{{#isBrand}}
<div class="item">
    <div class="brand-slide slide" style="height:{{getSlideHeight}}px" data-id="{{id}}" data-logo="{{logo.url}}">
        <div class="brand-slide-image">
            <img src="{{#display_image.url}}{{.}}{{/display_image.url}}{{^display_image.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/display_image.url}}@640w_480h_1e_1c">
        </div>
        <div class="brand-slide-info">
            <div class="category">{{country.name}},{{#styles}} {{name}}{{/styles}}</div>
            <div class="title">{{name}}</div>
            <div class="meta">查看全部产品</div>
        </div>
        <div class="product-slide-brand"><img src="{{#logo.url}}{{.}}{{/logo.url}}{{^logo.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/logo.url}}@100w_100h_1e_1c"></div>
    </div>
</div>
{{/isBrand}}
{{/slides}}