{{#filters}}
<div class="filter {{#isLeafFilter}}leafFilter{{/isLeafFilter}}" id="filter-{{id}}" data-id="{{id}}"  >
	<div class="filterTitle">
		{{name}} <i class="icon icon-expand-more"></i>
	</div>
	<div class="fitlerSelection">全部</div>
</div>
<div class="filterMenu {{getFilterMenuClass}}"  id="filterMenu-{{id}}">
		<div class="filterMenu-item">
			全部
		</div>
		{{#children}}
		<div class="filterMenu-item" data-id="{{id}}" id="filterMenu-item-{{id}}">
			{{name}}
		</div>
		{{/children}}
</div>
{{/filters}}