{{^isSynced}}
<div class="product">
    <div class="productGallery carousel">
        <div class="carousel-inner">
            <div class="tapEnable item productGallarySlide productGallaryPlaceholder" style="{{getBannerSizeCss}}">
                {{#placeholder}}
                <img src="{{display_image.url}}{{getBannerSuffix}}" style="{{getBannerSizeCss}}" originalsrc="{{display_image.url}}">
                {{/placeholder}}
                {{^placeholder}}
                    <div class="loadingIcon">
                    <div class="loadingIconInner">
                        <i class="icon icon-diningroom"></i>
                        <i class="icon icon-bathroom"></i>
                        <i class="icon icon-bedroom"></i>
                        <i class="icon icon-kitchen"></i>
                        <i class="icon icon-livingroom"></i>
                    </div>
                    </div>
                {{/placeholder}}
            </div>
        </div>
    </div>
    {{#placeholder}}
    <div class="title productTitle">{{name}}</div>
    <div class="caption productCategory">正在加载</div>
    <div class="productLoadingSign">
        <i class="icon icon-refresh2"></i>
    </div>
    {{/placeholder}}
    {{^placeholder}}
        <div class="title productTitle loadingTitle"></div>
        <div class="caption productMeta  loadingCaption"></div>

        <div class="description loadingDescription">
            <div class="loadingCaption"></div>
            <div class="loadingCaption"></div>
            <div class="loadingCaption"></div>
        </div>
    {{/placeholder}}
    <div class="productToolBar toolBar">
    <div class="toolBar-item toolBar-back"><i class="icon icon-chevron-left"></i></div>
    </div>
</div>
{{/isSynced}}
{{#isSynced}}
<div class="product">
    <div class="productGallery carousel">
        <div class="carousel-inner">
            {{#getSlidesImages}}
            <div class="tapEnable item productGallarySlide">
                <img src="{{url}}{{getBannerSuffix}}" style="{{getBannerSizeCss}}" originalsrc="{{url}}">
            </div>
            {{/getSlidesImages}}
        </div>
        <!-- Indicators -->
        <div class="carousel-indicator">
            <div class="indicator"></div>
        </div>
    </div>
    <div class="title productTitle">{{name}}</div>
    <div class="caption productCategory">{{brand.name}}{{#collection}} | {{name}}{{/collection}}</div>
    <div class="caption productMeta">{{room.name}} {{product_type.name}}</div>
    <div class="description productDescription">
        {{getShortDescription}}
    </div>
    <div class="actionLine">
        {{#original_description}}<div class="tapEnable btn btn-line btn-small readMoreDescriptionOriginal">原文</div>{{/original_description}}
        {{#isMoreDescriptionVisible}}
        <div class="tapEnable btn btn-line btn-primary btn-small readMoreDescription">阅读全部</div>
        {{/isMoreDescriptionVisible}}
    </div>
    {{#isThumbsVisible}}
    <div class="grid productGallary">
        {{#getThumbs}}
        <div class="tapEnable image thumb gridThumb grid1-3 {{#isLast}}lastThumb{{/isLast}}" style="{{getGridSizeCss}}"><img src="{{url}}{{getGridSuffix}}" originalsrc="{{url}}" style="{{getGridSizeCss}}"> 
            {{#isLast}}
            <div class="gridThumbOverlay">
                    <div class="gridThumbOverlayInner">
                        <i class="icon icon-pictures"></i>
                        <br>浏览全部<br>{{imagesCount}}张图片
                    </div>
            </div>
            {{/isLast}}
        </div>
        {{/getThumbs}}
    </div>
    {{/isThumbsVisible}}
    {{^isThumbsVisible}}
    <div class="productDivImage">
        {{{getProductDivImageHtml}}}
    </div>
    {{/isThumbsVisible}}
    <div class="productDesign">
        {{#isDesignerVisible}}
        <div class="designer">
            {{#getFirstDesigner}}
            <img src="{{image.url}}{{getAvatarSuffix}}" style="{{getAvatarSizeCss}}" class="designerAvatar">
            <div class="caption designerCaption">设计师</div>
            <div class="designerName">{{name}}</div>
            {{/getFirstDesigner}}
        </div>
        {{/isDesignerVisible}}
        {{^isDesignerVisible}}
        <div class="designer">
            <div class="caption designerName">设计信息</div>
        </div>
        {{/isDesignerVisible}}
        <div class="designMeta">
            {{#style}}
            <div class="designMeta-item">
                <i class="icon icon-{{code}} designMeta-icon"></i>
                <div class="title">{{name}}</div>
                <div class="caption">风格</div>
            </div>
            {{/style}}
            {{#year_of_design}}
            <div class="designMeta-item">
                <i class="icon icon-{{getYearOfDesignCode}} designMeta-icon"></i>
                <div class="title">{{year_of_design}}</div>
                <div class="caption">设计年份</div>
            </div>
            {{/year_of_design}}
            {{#country}}
            <div class="designMeta-item">
                <i class="icon icon-{{code}} designMeta-icon"></i>
                <div class="title">{{name}}</div>
                <div class="caption">产地</div>
            </div>
            {{/country}}
        </div>
        <div class="actionLine">
            <div class="tapEnable btn btn-line btn-small readMoreDesignInfo">查看完整设计解读</div>
        </div>
    </div>
    <div class="productBrand">
        <div class="brand">
            <img class="brandAvatar" src="{{#brand.logo.url}}{{.}}{{/brand.logo.url}}{{^brand.logo.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/brand.logo.url}}{{getAvatarSuffix}}" style="{{getAvatarSizeCss}}">
            <div class="brandName">{{brand.name}}{{getBrandOriginalName}}{{#collection}} | {{name}}{{/collection}}</div>
        </div>
        <div class="caption">推荐搭配</div>
        <div class="horizontalProductList">
            <div class="horizontalProductListInner"></div>
        </div>

        <div class="caption">品牌故事</div>
        <div class="description brandDescription">
            {{#brand}}
            {{getShortDescription}}
            {{/brand}}
        </div>
        <div class="actionLine">
            {{#brand.original_description}}<div class="tapEnable btn btn-line btn-small readMoreBrandOriginal">原文</div>{{/brand.original_description}}
            {{#brand}}{{#isMoreDescriptionVisible}}
            <div class="tapEnable btn btn-line btn-primary btn-small readMoreBrand">阅读全部</div>
            {{/isMoreDescriptionVisible}}{{/brand}}
        </div>
    </div>
    <div class="productAlternatives">
        <div class="productCaption caption">相似产品</div>
        <div class="products product-list">

        </div>
        <div class="actionLine">
            <div class="tapEnable btn btn-line btn-small moreAlternatives">查看更多</div>
        </div>
    </div>
</div>
<div class="productToolBar toolBar">
    <div class="tapEnable toolBar-item toolBar-back"><i class="icon icon-chevron-left"></i></div>
    <div class="tapEnable toolBar-item toolBar-like">{{#metadata.liked}}<i class="icon icon-heart3 main-color"></i>{{/metadata.liked}}{{^metadata.liked}}<i class="icon icon-heart2"></i>{{/metadata.liked}} 收藏</div>
    <div class="tapEnable toolBar-item toolBar-share"><i class="icon icon-share"></i> 分享</div>
    <div class="tapEnable toolBar-item toolBar-brand" data-id="{{brand.id}}" data-logo="{{brand.logo.url}}"><img src="{{#brand.logo.url}}{{.}}{{/brand.logo.url}}{{^brand.logo.url}}http://imgopt.apecrafts.com/design/placeholder.jpg{{/brand.logo.url}}{{getBrandSuffix}}" style="{{getBrandSizeCss}}"></div>
</div>
{{/isSynced}}