<header class="profileHeader">
    <div class="profileImage">
        {{#user_info.image.url}}
            <img src="user_info.image.url">
        {{/user_info.image.url}}
        {{^user_info.image.url}}
            <i class="icon icon-{{getRandomIcon}}"></i>
        {{/user_info.image.url}}
    </div>
    <div class="profileInfo">
        <div class="profileInfo-name">{{#user_info.nick_name}}{{user_info.nick_name}}{{/user_info.nick_name}}{{^user_info.nick_name}}{{getRandomName}}{{/user_info.nick_name}}</div>
        <div class="profileInfo-meta">{{user_info.counts.likes}}个收藏</div>
    </div>
    <div class="profileFilter  dropDown-switch"><span class="dropDown-text">全部领域</span><i class="icon icon-expand-more"></i>
        <div id="profileFilter-menu" class="dropDown-menu">
            <div class="dropDown-menu-item checked">全部领域</div>
            {{#categories}}
            <div class="dropDown-menu-item" data-id="{{id}}">{{name}}</div>
            {{/categories}}
        </div>
    </div>
</header>
<div class="streamWrapper">
    <div id="cards"></div>
</div>