<div id="primary">
    <div class="loadingIcon">
        <div class="loadingIconInner">
            <i class="icon icon-diningroom"></i>
            <i class="icon icon-bathroom"></i>
            <i class="icon icon-bedroom"></i>
            <i class="icon icon-kitchen"></i>
            <i class="icon icon-livingroom"></i>
        </div>
    </div>
</div>
<nav id="homeNavigation">
    
    <div class="homeNavigation-item current waves-effect" id="navigation-explore" href="explore"><i class="icon icon-idea"></i>
	<span class="text">猜你喜欢</span></div>
    <div class="homeNavigation-item waves-effect" id="navigation-feature" href="feature"><i class="icon icon-best"></i>
	<span class="text">热门推荐</span></div>
    
    <!--
    <div class="homeNavigation-item current waves-effect" id="navigation-book" href="http://resource.apecrafts.com/cover/index.html"><i class="icon icon-idea"></i>
    <span class="text">悟空手册</span></div>
    -->
    <div class="homeNavigation-item waves-effect" id="navigation-products" href="products"><i class="icon icon-chair2"></i>
	<span class="text">产品库</span></div>
    
    <div class="homeNavigation-item waves-effect" id="navigation-me" href="me"><i class="icon icon-fav"></i>
	<span class="text">我的收藏</span></div>
    
</nav>